@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
input:focus, textarea:focus, select:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}
/* Estilização de items padrões */
.body {
    width: 100%;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    background: #fff;
}
.width960 {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.width544 {
    max-width: 544px;
    width: 100%;
    margin: 0 auto;
}
.relative{
    position: relative;
}
.absolute {
    position: absolute;
}
.displaynone {
    display: none;
}
.opacity01 {
    opacity: 0.1;
}
.backgroundImage {
    background-size: 97% auto;
    background-repeat: no-repeat;
    background-position: center bottom;
}
/* Menu */
.nav-container {
    width: 100%;
    height: 100%;
    position: absolute;
    border: solid 0.5px #707070;
    background-color: rgba(124, 120, 120, 0.73);
    z-index: 3;
    opacity: 0;
    display: none;
    transition: .4s ease-in-out;
    box-sizing: border-box;
}
.show-menu {
    display: flex;
    opacity: 1;
    animation: .4s ease-in-out showMenu;
}
.show-modal {
    display: flex !important;
    opacity: 1 !important;
    animation: .4s ease-in-out showModal;
}
.sidebar {
    width: 381px;
    height: 100%;
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    box-sizing: border-box;
}
.sidebar-container {
    width: 212px;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.sidebar-header {
    height: 15.6px;
    width: 100%;
    margin-top: 48.5px;
}
.sidebar-close-button {
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: flex;
    align-items: center;
    border: 0;
    background: #fff;
    cursor: pointer;
}
.sidebar-close-button img{
    width: 15.6px;
    height: 15.6px;
    margin-right: 11.5px;s
}
.sidebar-body {
    width: 100%;
    margin-top: 41.5px;
}
.sidebar-body-user-topo {
    width: 100%;
    display: flex;
    align-items: center;
}
.sidebar-body-user-avatar {
    width: 46px;
    height: 46px;
    margin-right: 9.5px;
    border-radius: 50%;
    background: #e82147;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
}
.sidebar-body-user-avatar img{
    width: 31.5px;
    height: 31.5px;
    object-fit: contain;
}
.sidebar-body-user-name {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    color: #e82147;
}
.sidebar-body-user-data {
    width: 100%;
    margin-top: 13.5px;
}
.sidebar-body-user-email, .sidebar-body-user-tel {
    display: flex;
    width: 100%;
    height: 10.5px;
    align-items: center;
}
.sidebar-body-user-tel {
    margin-top: 8.5px;
}
.sidebar-body-user-email img {
    width: 9.5px;
    height: 7px;
    object-fit: contain;
    margin-right: 9px;
}
.sidebar-body-user-email span {
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.sidebar-body-user-tel img {
    width: 9px;
    height: 9px;
    object-fit: contain;
    margin-right: 9px;
}
.sidebar-body-user-tel span {
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.sidebar-body-signature {
    width: 100%;
    margin-top: 30.5px;
}
.sidebar-body-signature-topo {
    width: 100%;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
.sidebar-body-signature-topo-title {
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #141414;
}
.sidebar-body-signature-topo-time {
    font-family: 'Roboto', sans-serif;
    font-size: 8.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #141414;
}
.sidebar-body-signature-progrees {
    width: 100%;
    margin-top: 9px;
    height: 9px;
    border-radius: 50vh;
    background: #e8e8e8;
    position: relative;
}
.sidebar-body-signature-progrees-fill {
    width: 50%;
    height: 100%;
    border-radius: 50vh;
    position: absolute;
    left: 0;
    top: 0;
    background: #e82147;
}
.sidebar-body-button-assignature {
    width: 100%;
    background: #e82147;
    border-radius: 50vh;
    margin-top: 44px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
}
.sidebar-body-button-assignature a {
    width: 100%;
    height: 34.5px;
    font-family: 'Playfair Display', serif;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}


.sidebar-footer {
    width: 100%;
    margin-top: 104.5px;
}

.sidebar-footer-row {
    height: 10.5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #c1bebe;
    margin-bottom: 10.5px;
    display: flex;
    text-decoration: none;
    align-items: center;
    text-decoration: none;
}
.sidebar-footer-row:last-child {
    margin-bottom: 0;
}
.sidebar-footer-row img {
    width: 7px;
    height: 8px;
    margin-right: 7.5px;
}
.sidebar-footer-row:nth-child(1) img {
    width: 8px;
}
/* Esitilização do Logo*/
.logo {
    width: 67.5px;
    height: 27px;
    font-family: 'Playfair Display', serif;
    font-size: 20.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
    display: inline-block;
    text-decoration: none;
}
.logo span {
    color: #e82147;
}
/* Fim da estilização de items padrões */
.header {
    width: 100%;
}
.header-topo {
    padding: 24px 0;
    background-color: #ffdbbc;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 0 auto;
}

/* Estilização do menu mobile */
.header-topo-mobile {
    padding: 24px 0;
    background-color: #ffdbbc;
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    margin: 0 auto;
}
.header-topo-mobile {
    display: none;
}
.header-topo-mobile-lm {
    display: flex;
    max-width: 366px;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 24px;
}
/* Fim da esitilização do menu mobile */
.header-topo-search{
    height: 100%;
}
.header-topo-search-container {
    width: 366px;
    height: 30px;
    border-radius: 16.5px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
}
.header-topo-search-container-type {
    border:0;
    flex:1;
    height: 100%;
    opacity: 0.18;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.header-topo-search-lupa {
    width: 11px;
    height: 11px;
    margin-right: 22.6px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-topo-menu{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.header-topo-menu-name {
    height: 10.5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
    margin-right: 10px;
}
.header-topo-menu-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16);
    background-color: #e82147;
    display: flex; 
    justify-content: center;
    align-items: center;
}
.header-topo-menu-avatar-image {
    width: 18.8px;
    height: 20.3px;
}
/*Estilização do corpo do projeto */
.container{
    width: 100%;
}
.container-topo {
    background: #ffdbbc;
    padding-top: 24px;
    padding-bottom: 84px;
}
.container-topo-svg {
    width: 137.5px;
    height: 136.8px;
    object-fit: contain;
    position: absolute;
    left: 57.3px;
    top: 51px;
}
.container-topo-container {
    height: 180px;
    display: flex;
    position: relative;
    z-index: 2;
}
.container-topo-container-text {
    width: 266.5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10px;
    box-sizing: border-box;
    margin-right: 62.5px;
}
.container-topo-container-text h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.container-topo-container-text h2 span {
    width: 100%;
    color: #e82147;
}
.container-topo-container-text p {
    width: 158px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0d0d0d;
}
.container-topo-container-text p span {
    width: 100%;
    color: #e82147;
    display: inline-block;
}
.container-topo-container-imgs {
    width: 225px;
    height: 100%;
}
.container-topo-container-imgs-ele1 {
    width: 302.1px;
    height: 220.5px;
    top: -13.9px;
    right: -34.5px;
}
.container-topo-container-imgs-header-container {
    width: 100%;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
}
.container-topo-container-imgs-header-container:hover .container-topo-container-imgs-header-container-view-receita, 
.container-body-container-slide-photo:hover .container-body-container-slide-photo-view-receita,
.vertical-slide-img-container:hover .vertical-slide-img-container-view-receita{
    bottom: 0;
}
.container-topo-container-imgs-header-container-view-receita, .container-body-container-slide-photo-view-receita, .vertical-slide-img-container-view-receita {
    position: absolute;
    width: 100%;
    height: 41.5px;
    background: #fff;
    bottom: -41.5px;
    left: 0;
    transition: .5s ease-in-out;
    padding-left: 14.5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    z-index: 3;
    cursor: pointer;
}
.container-topo-container-imgs-header-container-view-receita img, 
.container-body-container-slide-photo-view-receita img,
.vertical-slide-img-container-view-receita img {
    height: 8px;
    width: 8px;
    margin-right: 10px;
}
.container-topo-container-imgs-header {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}
/* Início do CSS do container body */
.container-body{
    padding-top: 45.5px;
    padding-bottom: 167.5px;
    background: #fff;
    position: relative;
}
.container-body-container h1{
    width: 272px;
    height: 80px;
    margin: 0 auto;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
}
.container-body-container-slide {
    width: 100%;
    height: 155px;
    margin-top: 69.5px;
    box-sizing: border-box;
    display: flex;
    position: relative;
}
.container-body-container-slide-photo {
    width: 319px;
    height: 100%;
    margin-right: 57.5px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
.imageslide {
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16);
    object-fit: cover;
    object-position: center;
}
.container-body-container-slide-painel {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 9px;
    box-sizing: border-box;
}
.container-body-container-slide-painel-dateadded {
    width: 66.5px;
    height: 10.5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
}
.container-body-container-slide-painel-title {
    width: 155px;
    height: 45px;
    margin-top: 12px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.container-body-container-slide-painel-rating
 {
    height: 10.5px;
    margin-top: 12px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
    display: flex;
}
.slide-painel-rating-stars {
    margin-left: 10.5px;
}
.slide-painel-rating-stars-star {
    width: 8px;
    height: 7.6px;
    margin-right: 2px;
}
.container-body-container-slide-painel-controls {
    margin-top: 26px;
    display: flex;
    align-items: center;
}
.slide-controls-button{
    width: 30px;
    height: 30px;
    border: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 1.5px 3px 0 rgba(0, 0, 0, 0.16) !important;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide-controls-button:nth-child(1){
    margin-right: 11px;
}
.slide-controls-button img {
    width: 8px;
    height: 8px;
}

.container-body-divider {
    width: 100%;
    margin-top: 89.5px;
    margin-bottom: 84px;
    display: flex;
    justify-content: center;
}
.container-body-divider-img {
    width: 79.5px;
    height: 8.5px;
    object-fit: contain;
}

.entre-no-mundo-gastronomico{
    width: 478.5px;
    height: 38.5px;
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin-left: 38px;
    z-index: 2;
    position: relative;
}
.container-body-container-vertical-slide {
    width: 100%;
    height: 213.5px;
    display: flex;
    margin-top: 54.5px;
}
.vertical-slide-panel {
    display: flex;
    flex-direction: column;
    width: 225px;
    height: 100%;
    margin-right: 10px;
}
.vertical-slide-panel-button {
    display: flex;
    border: 0;
    height: 64.5px;
    border: solid 0.5px #f0f0f0 !important;
    margin-top: 10px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background: #fff;
}
.vertical-slide-panel-button:nth-child(1){
    margin-top: 0;
}
.vertical-slide-activate {
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.16) !important;
}
.vertical-slide-text-activate {
    color: #e82147 !important;
}
.vertical-slide-panel-button-img img {
    width: 31px;
    height: 31px;
    object-fit: contain;
}

.vertical-slide-panel-button-text {
    width: 61px;
    height: 21.5px;
    font-family: 'Playfair Display', serif;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    letter-spacing: normal;
    text-align: left;
    color: #a19b9b;
    margin-left: 16.4px;
}
.vertical-slide-img-container {
    width: 319px;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.vertical-slide-img-container-img {
    width: 100%;
    height: 100%;
    background-position: center 67%;
    position: relative;
    z-index: 2;
    object-fit: cover;
    object-position: 0 -120px;
    cursor: pointer;
}
.manchas-corpo4 {
    width: 83.9px;
    height: 83.2px;
    object-fit: contain;
    top: 504px;
    left: 45.8px;
}
.manchas-corpo6 {
    width: 85.7px;
    height: 77.3px;
    object-fit: contain;
    top: 706.6px;
    right: 69.8px;
}
.manchas-corpo7 {
    width: 67.4px;
    height: 54.5px;
    object-fit: contain;
    top: 125.5px;
    right: 56.5px;
}

.manchas-corpo:nth-child(3){
    display: none;
}
/* Início do footer */
.footer {
    width: 100%;
    display: flex;
    position: relative;
}
.Rodap {
  width: 100%;
  height: 152px;
  margin: 0 auto;
  object-fit: contain;
}
.footer-complement {
    height: 27px;
    display: flex;
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
    align-items: center;
}
.footer-complement-left, .footer-complement-right {
    flex: 1;
}
.footer-complement-left {
    display: flex;
}
.footer-complement-right {
    height: 100%;
    display: flex;
    align-items: center;
}
.footer-complement-text {
    width: 49px;
    height: 8px;
    margin-top: 12.8px;
    margin-left: 20.6px;
    font-family: HelveticaNeue;
    font-size: 7px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.footer-complement-social-area {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.footer-complement-social-area-item {
    width: 14.5px;
    height: 14.5px;
    display: inline-block;
    margin-right: 17px;
    cursor: pointer;
}
.footer-complement-social-area-item div {
    width: 14.5px;
    height: 14.5px;
    transition: .5s ease-in-out;
    background-position: center center;
}
.footer-complement-social-area-item:nth-child(1) div{
    background-image: url(../imgs/screen/Fb.svg);
}
.footer-complement-social-area-item:nth-child(2) div{
    background-image: url(../imgs/screen/IG.svg);
}
.footer-complement-social-area-item:nth-child(3) div{
    background-image: url(../imgs/screen/Twitter.svg);
}
.footer-complement-social-area-item:nth-child(4) div{
    background-image: url(../imgs/screen/Linkedin.svg);
}
.footer-complement-social-area-item:nth-child(5) div{
    background-image: url(../imgs/screen/Pinterest.svg);
}
.footer-complement-social-area-item:nth-child(1):hover div {
    background-image: url(../imgs/screen/Fb_active.svg);
}
.footer-complement-social-area-item:nth-child(2):hover div {
    background-image: url(../imgs/screen/IG_active.svg);
}
.footer-complement-social-area-item:nth-child(3):hover div {
    background-image: url(../imgs/screen/Twitter_active.svg);
}
.footer-complement-social-area-item:nth-child(4):hover div {
    background-image: url(../imgs/screen/Linkedin_active.svg);
}
.footer-complement-social-area-item:nth-child(5):hover div {
    background-image: url(../imgs/screen/Pinterest_active.svg);
}
.footer-complement-social-area-item:last-child {
    margin-right: 0;
}
/* CSS contido no zeplin */
.Cookfy {
    width: 67.5px;
    height: 27px;
    object-fit: contain;
    font-family: PlayfairDisplay;
    font-size: 20.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    text-align: left;
    color: #000000;
}
.Cookfy .text-style-1 {
    color: var(--lipstick);
}
.Lupa {
    width: 11.8px;
    height: 11.8px;
    object-fit: contain;
}
.modal-image {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(124,120,120, 0.73);
    left: 0;
    top: 0;
    z-index: 3;
    opacity: 0;
    display: none;
    justify-content: center;
    align-items: center;
}
.modal-container {
    width: 100%;
    max-width: 732px;
    height: auto;
    border: 8px solid rgba(121,121,121, 0.53);
    box-sizing: border-box;
    display: flex;
}
.modal-container-image {
    width: 447.5px;
    height: 332.5px;
}
.modal-container-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    cursor: auto;
}
.modal-container-content {
    flex: 1;
    height: 332.5px;
    background: #fff;
    padding: 20.5px;
    box-sizing: border-box;
}
.modal-container-header {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.modal-container-header img{
    width: 15.6px;
    height: 15.6px;
    object-fit: contain;
    cursor: pointer;
}
.modal-container-body {
    display: flex;
    flex-direction: column;
    width: 180.5px;
    margin-top: 17.5px;
}
.modal-container-body-header {
    width: 100%;
    height: 32px;
    font-family: Roboto;
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #0d0d0d;
}
.modal-container-body-header span {
    display: inline-block;
    width: 100%;
    color: #e82147;
}
.modal-container-body-body {
    width: 100%;
    height: 139.5px;
    font-family: Roboto;
    font-size: 8px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: left;
    color: #555455;
    margin-top: 23px;
}

.modal-container-footer {
    width: 100%;
    margin-top:17.5px;
    display: flex;
    align-items:  baseline;
}
.modal-container-footer a:nth-child(1){
    display: flex;
    width: 48.5px;
    height: 15px;
    border-radius: 50vh;
    border: solid 0.5px #e82147;
    margin-right: 21.5px;
    font-family: Roboto;
    font-size: 7px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.modal-container-footer a:nth-child(1) img {
    width: 5.7px;
    height: 6.9px;
    margin-right: 5.5px;
}
.modal-container-footer a:nth-child(2) {
    font-family: Roboto;
    font-size: 8px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    text-align: left;
    color: #e82147;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container-footer a:nth-child(2) img {
    width: 8px;
    height: 8px;
    margin-right: 10px;
}
/* Animações */
@keyframes showMenu {
    0%{
        opacity: 0;
    }100% {
        opacity: 1;
    }
}
@keyframes showModal {
    0%{
        opacity: 0;
    }100% {
        opacity: 1;
    }
}
/* Responsividades */
@media (max-width: 960px){
    .Rodap {
        object-fit: cover;
        object-position: bottom;
    }
}
@media (max-width: 625px){
    .width544 {
        width: 90%;
    }
    .header-topo {
        display: none;
    }
    .header-topo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .container-topo-container {
        flex-direction: column;
        height: auto;
    }
    .container-topo {
        padding-bottom: 24px;
    }
    .container-topo-container-text, .container-topo-container-imgs {
        margin: 0 auto;
    }
    .container-topo-container-imgs {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }
    .container-topo-container-imgs-ele1 {
        position: static;
    }
    .container-topo-container-imgs-header {
        top: 15px;
    }
    .entre-no-mundo-gastronomico {
        margin: 0 auto;
        width: 100%;
    }
    /*Corpo responsividade*/
    .container-body-container-slide {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
    }
    .container-body-container-slide-photo {
        height: 155px;
        margin: 0 auto;
    }
    .container-body-container-slide-painel {
        width: 100%;
        max-width: 319px;
    }
    .container-body-container-slide-painel-controls {
        justify-content: center;
    }
    .container-body-container-vertical-slide {
        flex-direction: column-reverse;
        height: auto;
    }
    .vertical-slide-img-container {
        width: 100%;
    }
    .vertical-slide-img-container-img {
        height: 213.5px;
        width: 100%;
    }
    .vertical-slide-panel {
        flex-direction: row;
        width: 100%;
        margin-right: 0;
    }
    .vertical-slide-panel-button {
        flex: 0 0 calc(30%);
        margin: 0 auto;
    }
}
@media (max-width: 425px){
    .header-topo-mobile-lm {
        width: 90%;
    }
    .nav-container {
        height: 100vh;
    }
    .sidebar {
        position: fixed;
        height: 100%;
        width: 100%;
    }
    .modal-container {
        flex-direction: column;
        width: 95%;
    }
    .modal-container-image {
        width: 100%;
        height: 184.5px;
    }
    .header-topo-search {
        width: 90%;
    }
    .modal-container-content {
        padding-top: 0;
    }
    .modal-container-header img {
        height: 50px;
    }
    .header-topo-search-container {
        width: 100%;
    }
    .container-body-divider{
        margin-top: 48px;
        margin-bottom: 24px;
    }
    .slide-controls-button {
        height: 50px;
        width: 50px;
    }
    .vertical-slide-panel {
        flex-direction: column;
        width: 100%;
        margin-top: 6px;
    }
    .vertical-slide-panel:last-child(3){
        margin-bottom: 0;
    }
    .vertical-slide-panel-button {
        flex: auto;
        width: 100%;
        height: 50px;
    }
    .manchas-corpo4 {
        left: 5px;
    }
    .footer-complement-right {
        margin-top: 6px;
    }
    .container-body-container-slide-photo {
        width: 100%;
    }
    .container-body-container-slide-painel {
        max-width: 100%;
    }
    .slide-controls-button img {
        width: 14px;
        height: 14px;
    }
    .container-body {
        padding-bottom: 48px;
    }
    .container-topo-container-imgs-header-container {
        position: absolute;
        height: 90%;
        width: 60%;
    }
}
@media (max-width: 361px){
    .vertical-slide-img-container {
        margin-bottom: 6px;
    }
    .container-body-container-slide-photo {
        width: 100%;
    }
    .footer-complement {
        height: auto;
        width: 100%;
        flex-direction: column;
    }
}
@media (max-width: 320px){
    .container-topo-container-text{
        width: 100%;
    }
    .container-topo-container-imgs-ele1{
        width: 100%;
    }
    .container-body-container h1 {
        width: 100%;
    }
    .container-topo-container-imgs-header {
        width: 100%;
    }
}